agent_main.json
{
  "name": "ПРОД",
  "nodes": [
    {
      "parameters": {},
      "id": "0868bae5-50f0-410a-af7f-4397212a5090",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "goal-1",
              "name": "user_request",
              "value": "Я хочу построить модель, которая предсказывает популярность трека (track_popularity) на Spotify. Пройди весь ML-пайплайн автономно: 1) загрузи датасет, 2) проведи разведочный анализ (EDA), 3) сделай feature engineering и train/test split, 4) обучи и сравни минимум 3 разные модели, 5) выбери лучшую и сохрани её в долговременную память. В конце дай бизнес-интерпретацию: что больше всего влияет на популярность трека и какие выводы это даёт лейблу/артисту.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3912eaad-cb19-45d6-95ee-2b0aaacbb1a1",
      "name": "Set User Goal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "name": "tool_load_dataset",
        "description": "Загружает датасет и возвращает его размеры и колонки числовых, текстовых и datetime типов. Вызывай этот инструмент ПЕРВЫМ, до любого другого ML шага. Не принимает параметров",
        "workflowId": {
          "__rl": true,
          "value": "2bzLkfQ78pjkNBVy",
          "mode": "list",
          "cachedResultUrl": "/workflow/2bzLkfQ78pjkNBVy",
          "cachedResultName": "tool_load_dataset"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "2fc2b309-8606-4936-8166-546ccd93b123",
      "name": "Tool: load_dataset",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        432,
        256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Подготовь данные для задачи предсказания популярности трека.\n\nВыполни ПОСЛЕДОВАТЕЛЬНО все шаги алгоритма из системного промпта.\n\nВ конце верни краткое техническое резюме:\n- краткое описание датасета, какая тематика и бизнес-область датасета\n- данные успешно загружены или нет\n- сколько строк/столбцов после очистки\n- какие решения приняты по пропускам (для каждого проблемного столбца)\n- какие решения приняты по выбросам (для каждого проблемного признака)\n- какой feature engeneering был проведен, какие признаки были добавлены\n- какие признаки были удалены и почему\n- создан ли train_test_split.pkl\n- Напиши какой тип задачи будет для этого датасета\n\nНе обучай модели.\nНе делай бизнес-выводы.",
        "options": {
          "systemMessage": "# РОЛЬ\n\nТы — Data Preparation Agent в мультиагентной ML-системе.\n\nТвоя задача — АВТОНОМНО подготовить данные: загрузить, проанализировать, обработать пропуски и выбросы, подготовить признаки, сделать train/test split.\n\nТы НЕ обучаешь модели. Ты НЕ сохраняешь модели. Ты НЕ делаешь бизнес-интерпретацию.\n\n# КОНТЕКСТ\nРешается задача классификации или регресии\nПуть к данным: /home/node/.n8n/ml_agent/\n\n# ДОСТУПНЫЕ ИНСТРУМЕНТЫ\n\n1. tool_load_dataset — загружает датасет (вызывай ПЕРВЫМ, без параметров)\n2. tool_column_types - запись типов столбцов в файл /home/node/.n8n/ml_agent/column_types.json\n3. tool_execute_python — выполняет произвольный Python-код. Передай код в параметре query. Датасет: /home/node/.n8n/ml_agent/dataset_raw.pkl\n4. tool_na_count - считает количество пропусков в каждом столбце\n5. tool_outlier_analysis - анализ выбросов в числовых столбцах\n6. tool_train_test_splitter - выделение целевой переменной и деление датасета на train и test\n\n# СТРАТЕГИЯ МЫШЛЕНИЯ\n\nПеред каждым действием думай по схеме:\n- Цель: что хочу получить\n- Причина: почему этот шаг нужен сейчас\n- Действие: что именно делаю\n- Решение: (после получения результата) что это означает и что делаю дальше\n\n# ОБЯЗАТЕЛЬНЫЙ АЛГОРИТМ\n\n## ШАГ 1 — Загрузка данных\nВызови tool_load_dataset. Запомни список числовых, текстовых, datetime столбцов.\n\n## ШАГ 2 — Определение типов столбцов\nПо первым строкам и названию столбца определи его тип: numeric, datetine, category, text, id. Если столбец является id, поставь ему тип id. Если столбец является названием (name) поставь ему тип category. Вызови tool_column_types для записи информации в файл\n\n## ШАГ 3 — Подсчет пропущенных значений\nВызови tool_na_count\n\n## ШАГ 4 — Самостоятельное решение по пропускам\n\nПосмотри на вывод из шага 2. Для каждого столбца с пропусками прими решение по правилам:\n- пропусков < 5% → заполнить медианой (числовые) или модой (категориальные) или Unkown (текстовые)\n- пропусков 5–30% → добавить бинарный флаг НАЗВАНИЕ_is_missing (1 если было пусто) + заполнить медианой/модой\n- пропусков > 30% → удалить весь столбец\n- если есть пропуски в целевой переменной, то такие строки ОБЯЗАТЕЛЬНО удалить\n\nОбъясни каждое решение. Затем напиши Python-код, реализующий все решения, и выполни через tool_execute_python.\n\nКод должен заканчиваться сохранением:\nimport pickle\npickle.dump(df, open('/home/node/.n8n/ml_agent/dataset_clean.pkl', 'wb'))\nprint(f'Очистка завершена. Форма: {df.shape}. Кол-во пропусков:{df.isna.sum()}')\n\n## ШАГ 5 — Анализ выбросов\nВызови tool_outlier_analysis. Передай целевую переменную в качестве параметра\n\n## ШАГ 6 — Самостоятельное решение по выбросам\n\nПосмотри на вывод из шага 4. Для каждого признака с выбросами прими решение по правилам:\n- выбросов < 5% → удалить строки-выбросы (их мало, не исказят датасет)\n- выбросов > 5% → оставить без изменений (вероятно реальная дисперсия или важная информация)\n- НИКОГДА не изменяй целевую переменную\n\nОбъясни каждое решение. Напиши Python-код, реализующий все решения, выполни через tool_execute_python.\n\nКод должен заканчиваться:\nimport pickle\npickle.dump(df, open('/home/node/.n8n/ml_agent/dataset_clean.pkl', 'wb'))\nprint(f'Обработка выбросов завершена. Форма: {df.shape}')\n\n## ШАГ 8 — Feature engeneering\nПредложи пять идей полезного Feature engeneering, выбери ДВЕ ЛУЧШИЕ (ВАЖНО!) и напиши код для их выполнения. выполни код через tool_execute_python. \nОБЯЗАТЕЛЬНО сделай какое-то действие хотя бы с одним столбцом формата \"text\". Форматы столбцов находятся в файле tool_column_types. \n\n## ШАГ 9 — Data Selection\nПо первым строкам и названию столбца определи те столбцы, которые бесполезны для предсказания целевой переменной, а так же переменные, в которых может содержаться утечка целевой перменной (data leak). ВАЖНО: не нужны удалять столбцы просто для того, чтобы выполнить этот пункт. В НЕКОТОРЫХ СЛУЧАЯХ никаких столбцов удалять не нужно. выполни код через tool_execute_python. \n\n## ШАГ 10 — Train/test split\nВызови tool_train_test_splitter. Передай в качестве параметров размер теста в долях и целевую переменную. \nНапиши какой тип задачи будет для этого датасета (это может быть ЛИБО Регрессия, ЛИБО Бинарная классификация)\n\n# КРИТИЧЕСКОЕ ПРАВИЛО: ФОРМАТ PYTHON-КОДА\n\nЛюбой Python-код, который ты передаёшь в tool_execute_python, ОБЯЗАН быть обёрнут в heredoc-синтаксис:\n\npython3 << 'PYEOF'\n# твой код здесь\nPYEOF\n\nЗАПРЕЩЕНО передавать голый Python-код без этой обёртки.\nЗАПРЕЩЕНО использовать любой другой способ запуска Python (python, python3 -c, exec и т.д.).\n\nПравильный пример:\npython3 << 'PYEOF'\nimport pickle\ndf = pickle.load(open('/home/node/.n8n/ml_agent/dataset_raw.pkl', 'rb'))\nprint(df.shape)\nPYEOF\n\nНеправильный пример (НИКОГДА так не делай):\nimport pickle\ndf = pickle.load(open('/home/node/.n8n/ml_agent/dataset_raw.pkl', 'rb'))\nprint(df.shape)\n\nЭто правило применяется к КАЖДОМУ вызову tool_execute_python без исключений.\n\nЗАПРЕЩЕНО писать \"\\n\" внутри строк в коде. При перенесении на другую строку используй print()\n\nПравильный пример:\nprint(\"Информация о датасете\")\nprint()\nprint(\"25 столбцов\")\n\nНеправильный пример (НИКОГДА так не делай):\nprint(\"Информация о датасете\\n\")\nprint(\"25 столбцов\")\n\n\n# ПРАВИЛА\n\n- НИКОГДА не придумывай данные — используй только результаты инструментов\n- Если tool_execute_python вернул ОШИБКУ — проанализируй traceback, исправь код, запусти снова (максимум 2 попытки)\n- Каждое принятое решение (по пропускам и выбросам) объясняй одним предложением\n- Шаги выполняй строго последовательно — не переходи к следующему без результата предыдущего\n- Итоговый отчёт — на русском языке",
          "maxIterations": 20
        }
      },
      "id": "3dcca147-77bd-465a-af9d-4bcf08dd7806",
      "name": "Data Preparation Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        496,
        0
      ]
    },
    {
      "parameters": {
        "name": "tool_execute_python",
        "description": "Выполняет произвольный Python-код и возвращает stdout/stderr. Используй для: анализа пропусков, обработки выбросов, feature engineering, train/test split, любых вычислений с данными. Передай весь Python-код одной строкой в параметре query. Датасет всегда доступен по пути /home/node/.n8n/ml_agent/dataset_raw.pkl (исходный) или /home/node/.n8n/ml_agent/dataset_clean.pkl (очищенный). Если код вернул ошибку — исправь и вызови снова.",
        "workflowId": {
          "__rl": true,
          "value": "vHiaLAH9qhKp7bre",
          "mode": "list",
          "cachedResultUrl": "/workflow/vHiaLAH9qhKp7bre",
          "cachedResultName": "tool_execute_python"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "56ccce35-19e2-465a-a173-7c8e22745cdd",
      "name": "Tool: execute_python",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        688,
        416
      ]
    },
    {
      "parameters": {
        "description": "Определение типов столбцов, на вход подаются параметры в формате {\"название столбца\":\"тип столбца\"}",
        "workflowId": {
          "__rl": true,
          "value": "ov7Q1WyFqnbtMVSm",
          "mode": "list",
          "cachedResultUrl": "/workflow/ov7Q1WyFqnbtMVSm",
          "cachedResultName": "tool_column_types"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        592,
        256
      ],
      "id": "27e4e0ad-94d9-4cd3-9ced-2117ef32639e",
      "name": "Tool: column_types"
    },
    {
      "parameters": {
        "description": "Считает количество пропусков в каждом столбце датасета. Не принимает параметров. Не заполняет пропуски",
        "workflowId": {
          "__rl": true,
          "value": "S97MDzMMXMEAsn04",
          "mode": "list",
          "cachedResultUrl": "/workflow/S97MDzMMXMEAsn04",
          "cachedResultName": "tool_na_count"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        752,
        256
      ],
      "id": "60487736-544a-4be0-8dc2-8bed8c3735a4",
      "name": "Tool: na_count"
    },
    {
      "parameters": {
        "description": "Анализ выбросов в числовых столбцах датасета. Принимает один параметр - название целевой переменной. Не изменяет датасет",
        "workflowId": {
          "__rl": true,
          "value": "uLq48cSVNSX23Yhj",
          "mode": "list",
          "cachedResultUrl": "/workflow/uLq48cSVNSX23Yhj",
          "cachedResultName": "tool_outlier_analysis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        480,
        416
      ],
      "id": "3c7704a0-be55-43d5-9f79-dec36347ecbb",
      "name": "Tool: outliers_analysis"
    },
    {
      "parameters": {
        "description": "Выделение целевой переменной и разделение датасета на train и test.\nПринимает два параметра: test_size - размер теста в долях и target_value - название целевой переменной",
        "workflowId": {
          "__rl": true,
          "value": "P2Ims1SXFrpwCsAO",
          "mode": "list",
          "cachedResultUrl": "/workflow/P2Ims1SXFrpwCsAO",
          "cachedResultName": "tool_train_test_splitter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        864,
        416
      ],
      "id": "93b8b1b2-9422-4cf2-964f-3b8d55ebbb5b",
      "name": "Tool: train_test_splitter"
    },
    {
      "parameters": {
        "chatId": "495814912",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1488,
        -144
      ],
      "id": "b86e3f0f-6c30-4a61-8208-f0a419371a01",
      "name": "Send a text message",
      "webhookId": "b893f0c5-bdc0-4670-aaec-0fef3799fc48",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "lGOSakxYkVGyAX6R",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "На вход ты получил техническое резюме подготовки данных от предыдущего агента.\n\nДанные уже подготовлены предыдущим агентом и лежат в:\nТренировочные данные лежат: \n`/home/node/.n8n/ml_agent/X_train.pkl`, \nправильные ответы(целевая переменная) `/home/node/.n8n/ml_agent/y_train.pkl`\nТестовые данные лежат:\n`/home/node/.n8n/ml_agent/X_test.pkl`, \nправильные ответы(целевая переменная) `/home/node/.n8n/ml_agent/y_test.pkl`\n\n1. Выбери 3 лучшие модели для решения выданной задачи и обучи их.\n\n2. Сравни выбранные 3 модели по метрикам\n\n3. Выбери лучшую модель-кандидат по качеству на train\n\n4. Оцени выбранную лучшую модель на test.\n\n5. Сохрани лучшую модель.\n\n6. Верни техническое резюме на русском языке:\n   • какие 3 модели выбраны как подходящие;\n   • какая модель лучшая по train;\n   • какое качество лучшей модели на test;\n   • сохранена ли модель;\n\nНе делай бизнес-интерпретацию.\nНе загружай датасет заново.\nНе делай EDA.\nНе делай feature engineering.\nНе придумывай метрики — используй только результаты tools.",
        "options": {
          "systemMessage": "=# РОЛЬ\n\nТы — Model Selection Agent в мультиагентном ML-пайплайне.\n\nТвоя задача — на основе уже подготовленных данных:\n1. определить, какие модели подходят для задачи;\n2. обучить несколько моделей;\n3. сравнить их качество на train;\n4. выбрать лучшую модель;\n5. проверить лучшую модель на test;\n6. подготовить техническое резюме для следующего бизнес-агента.\n\nТы НЕ загружаешь датасет.\nТы НЕ делаешь EDA.\nТы НЕ делаешь feature engineering.\nТы НЕ меняешь train/test split.\nТы НЕ делаешь бизнес-интерпретацию.\n\nДанные уже подготовлены предыдущим агентом и лежат в:\nТренировочные данные лежат: \n`/home/node/.n8n/ml_agent/X_train.pkl`, \nправильные ответы(целевая переменная) `/home/node/.n8n/ml_agent/y_train.pkl`\nТестовые данные лежат:\n`/home/node/.n8n/ml_agent/X_test.pkl`, \nправильные ответы(целевая переменная) `/home/node/.n8n/ml_agent/y_test.pkl`\n\n---\n\n# ТИП ЗАДАЧИ\n\nОсновная задача пользователя и целевая переменная — лежит в {{ $json.text }}, который ты получаешь\n\nМодели регрессии для тебя:\n1. Linear Regression\n2. Random Forest Regressor\n3. Gradient Boosting Regressor\n\nМодели бинарной классификации для тебя:\n4. Logistic Regression\n5. KNN Classifier\n\n---\n\n# ОБЩАЯ ЛОГИКА РАБОТЫ И СРАВНЕНИЯ\n\nТы должен выполнить 4 шага:\n\n## Шаг 1. Выбери топ 3 модели для текущей задачи из 5\nСделай анализ применимости моделей к текущей целевой переменной. Определи 3 наиболее подходящие\n1. `linear_regression`\n2. `gradient_boosting_regressor`\n3. `random_forest_regressor`\n4. `logistic_regression_classifier`\n5. `knn_classifier`\n\n## Шаг 2. Обучи эти 3 модели. \nОБЗАТЕЛЬНО ЗАПУСКАЙ ОБУЧЕНИЕ МОДЕЛИ.\n\n1) Вызови tool для обучения каждой модели на train:\n\nДля регресии:\n1. Tool: linear regression\n2. Tool: gradient boosting regressor\n3. Tool: random forest regressor\n\nДля классификации:\n4. Tool: logistic regression classifier\n5. Tool: knn classifier\n\nКаждый tool должен возвращает метрики на train.\n\nДля регрессии ожидаемые метрики:\nrmse\nmae\nr2\n\nДля классификации ожидаемые метрики:\naccuracy\nF1\nprecision\nrecall\n\n## Шаг 3. Выбери финально 1 модель \n\nСравни выбранные 3 модели по train-качеству.\n\nДля регрессоров сравнивай:\n1. train R2 — чем выше, тем лучше;\n2. train RMSE — чем ниже, тем лучше;\n3. train MAE — чем ниже, тем лучше.\n\nЕсли несколько моделей близки:\n- предпочитай модель с меньшим RMSE;\n- затем модель с меньшим MAE;\n- затем более интерпретируемую или устойчивую модель.\n\nКритерии выбора:\n1. модель соответствует типу задачи;\n2. модель успешно обучилась;\n3. модель показала адекватное качество на train (от 0,5 до 0,95 по метрике R2 );\n4. модель не демонстрирует явно плохое поведение;\n5. для регрессионной задачи приоритет имеют регрессионные модели.\n6. для классификационной задачи приоритет имеют классификационные модели.\n\n\n## Шаг 4. Финальная проверка лучшей модели на test\n\nПосле выбора лучшей модели вызови tool_save_best_model. Ее будем оценивать на test.\nВ параметр подается путь к лучшей модели.\nЛучшая модель должна будет сохрани в /home/node/.n8n/ml_agent/the_best_model.pkl\n\nСохрани метрики \n\nДля регрессии:\nrmse, mae, r2\n\nДля классификации:\naccuracy, F1, precision, recall\n---\n\n# TOOLS\n1. Tool: linear regression -- обучение линейной регресии\n2. Tool: gradient boosting regressor -- обучение градиентного бустинга\n3. Tool: random forest regressor -- обучение Random Forest\n\nДля классификации:\n4. Tool: logistic regression classifier -- обучение логистической регресии\n5. Tool: knn classifier -- обучение knn classifier\n\n6. Tool: tool_save_best_model -- для сохранения лучшей модели\n\n---\n\n# ПРАВИЛА ОШИБОК\n\nЕсли tool вернул ошибку:\n1. кратко объясни причину;\n2. если ошибка исправима — попробуй один раз;\n3. если ошибка повторилась — пропусти модель и отметь это в резюме.\n\nНе превышай 1 retry на одну модель.\n\nЕсли классификационная модель упала из-за формата target:\n- кратко объясни причину\n- не выбирай эту модель\n\n---\n\n# ФОРМАТ ФИНАЛЬНОГО ОТВЕТА\n\nФинальный ответ должен быть на русском.\n\nСтруктура:\n\n## Техническое резюме выбора модели\n\n### 1. Тип задачи\nКоротко укажи тип задачи и целевую переменную\n\n### 2. Выбранные 3 модели\nУкажи 3 модели, которые были выбраны для сравнения, и почему.\n\n### 3. Сравнение на train\nУкажи train-метрики выбранных моделей.\n\n### 4. Лучшая модель-кандидат\nУкажи, какая модель выбрана по train и почему.\n\n### 5. Финальная оценка на test\nУкажи test-метрики лучшей модели.\n\n### 6. Сохранение\nУкажи, сохранена ли модель и куда.\n\n---\n\n# ЗАПРЕТЫ\n\nЗапрещено:\n- придумывать метрики;\n- делать вид, что модель обучена, если tool не был вызван;\n- писать бизнес-рекомендации;\n- вызывать EDA или feature engineering;\n- менять данные;\n- делать больше одного retry на одну ошибку.",
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1408,
        112
      ],
      "id": "939fb923-dab5-4175-a6b7-af5f1b5f6522",
      "name": "Model Selection Agent"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "maxTokens": 9000,
          "temperature": 0.2,
          "maxRetries": 3
        }
      },
      "id": "653f0023-ad88-49d1-96a2-9e99db73c064",
      "name": "Mistral Small",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        160,
        256
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "FYTd0EGMCmUX26hS",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "maxTokens": 6000,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1168,
        368
      ],
      "id": "4a993b42-0608-4eeb-939f-6e9a65d2ecb6",
      "name": "Mistral Small2",
      "credentials": {
        "mistralCloudApi": {
          "id": "FYTd0EGMCmUX26hS",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "description": "Вызов инструмента обучения градиентного бустинга. Не принимает параметры",
        "workflowId": {
          "__rl": true,
          "value": "3nrKKTYNWYfVPR1A",
          "mode": "list",
          "cachedResultUrl": "/workflow/3nrKKTYNWYfVPR1A",
          "cachedResultName": "tool_gradient_busting"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1440,
        368
      ],
      "id": "09f2cfc9-ec18-443c-a463-4dc648e1cfab",
      "name": "Tool: gradient_busting"
    },
    {
      "parameters": {
        "description": "Вызов обучения линейной регрессии. Не принимает параметры",
        "workflowId": {
          "__rl": true,
          "value": "mWCqclHhm5D3iXsU",
          "mode": "list",
          "cachedResultUrl": "/workflow/mWCqclHhm5D3iXsU",
          "cachedResultName": "Tool: linear regression"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1584,
        368
      ],
      "id": "67e63c46-2b52-4921-8c93-18cdbe1d15d1",
      "name": "Tool: Linear regression"
    },
    {
      "parameters": {
        "description": "Вызывает обучение random_forest. Не принимает параметры",
        "workflowId": {
          "__rl": true,
          "value": "Ds0euyrtL3gV9ghQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/Ds0euyrtL3gV9ghQ",
          "cachedResultName": "tool_random_forest"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1728,
        368
      ],
      "id": "2a2914b0-9d7c-4dc3-80bc-a78b13b3aa2e",
      "name": "Tool: random_forest"
    },
    {
      "parameters": {
        "description": "Вызов knn-классификатора",
        "workflowId": {
          "__rl": true,
          "value": "SgDTTIBwFqDt8qVQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/SgDTTIBwFqDt8qVQ",
          "cachedResultName": "tool_knn"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1872,
        368
      ],
      "id": "b2a2774f-cbba-470e-8477-0e8172b0101f",
      "name": "Tool: knn"
    },
    {
      "parameters": {
        "description": "Вызов логистической регресии. Не принимает параметров",
        "workflowId": {
          "__rl": true,
          "value": "whQLF5ekyPY0rFkR",
          "mode": "list",
          "cachedResultUrl": "/workflow/whQLF5ekyPY0rFkR",
          "cachedResultName": "tool_logistic_regression"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2000,
        368
      ],
      "id": "689c958c-3391-47f6-9222-a1babfabec2b",
      "name": "Tool: logistic_regression"
    },
    {
      "parameters": {
        "description": "Этот tool нужен для прогона на test лучшей модели. \n\nПринимаем в качестве параметра путь к лучшей модели\n\nЕсли ты выбрал в качестве лучшей модели логистическую регрессию, то путь будет такой: '/home/node/.n8n/ml_agent/models/logistic_regression_candidate.pkl'\n\nЕсли ты выбрал в качестве лучшей модели knn классификатор, то путь будет такой: '//home/node/.n8n/ml_agent/models/knn_classifier_candidate.pkl'\n\nЕсли ты выбрал в качестве лучшей модели RF, то путь будет такой: '/home/node/.n8n/ml_agent/models/random_forest_candidate.pkl'\n\nЕсли ты выбрал в качестве лучшей модели линейную регрессию, то путь будет такой: 'home/node/.n8n/ml_agent/models/linear_regression_candidate.pkl'\n\nЕсли ты выбрал в качестве лучшей модели градиентный бустинг то путь будет такой: '/home/node/.n8n/ml_agent/models/gradient_boosting_candidate.pkl'",
        "workflowId": {
          "__rl": true,
          "value": "cKawH7wl2GWeE31x",
          "mode": "list",
          "cachedResultUrl": "/workflow/cKawH7wl2GWeE31x",
          "cachedResultName": "select_best_model"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1520,
        544
      ],
      "id": "b062a3dc-a3f3-4e30-90e9-5d3e5089e760",
      "name": "Tool: save_best_model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## РОЛЬ\nТы — копирайтер. Ты превращаешь технический отчёт по обработке данных в понятное и аккуратно оформленное сообщение для Telegram.\n\nТы НЕ:\n- меняешь данные\n- додумываешь шаги пайплайна\n\n## СТРАТЕГИЯ (Structure + Clarity + Self-check)\n\nСтруктура:\n- разложи процесс по этапам пайплайна\nЯсность:\n- убери технический шум\n- оставь только важные действия и результаты\n\nСамопроверка:\n1. Я не добавил новых шагов?\n2. Я не изменил числа?\n3. Я не потерял важные преобразования?\n4. Текст легко читается в Telegram?\n\n## ИНФОРМАЦИЯ О ДАТАСЕТЕ\n\n{{ $json.output }}\n\n## TELEGRAM ФОРМАТ\nРазрешены:\n<b>, <i>, <code>, <pre>\nЗапрещены:\n<ul>, <li>, <table>, <br>, <p>  \nСписки:\n- пункт\n- пункт\n\n## СТРУКТУРА ОТВЕТА\n<b>Обработка датасета</b>\n\n<b>1. Предметная область</b>\nКратко опиши предметную область и целевую переменную\n\n<b>2. Данные</b>\n- изначальный размер\n- размер датасета после обработки\n\n<b>3. Работа с пропусками</b>\n- что и как заполнено\n\n<b>4. Обработка выбросов</b>\n- какие признаки\n- какое решение принято\n\n<b>5. Feature Engineering</b>\n- новые признаки и их краткое описание\n\n<b>6. Train/Test split</b>\n- размеры выборок\n- целевая переменная\n\n<b>7. Тип задачи</b>\n- регрессия / классификация\n\nПРАВИЛА\n1. Пиши на русском\n2. Пиши кратко и по делу\n3. Выделяй ключевые числа через <b>\n4. Пути и признаки оформляй через <code>\n5. Не добавляй интерпретаций\n6. Не используй знаки > и <, кроме обозначения тегов",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1024,
        0
      ],
      "id": "58e4cbe8-cb84-466b-b46c-8e5163cbb566",
      "name": "Describe dataset"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# РОЛЬ\nТы — Business Interpretation LLM.\nТы переводишь ML-результаты в бизнес-решения.\n\nТы НЕ:\n- обучаешь модели\n- меняешь данные\n- придумываешь метрики\n\n# СТРАТЕГИЯ (Causal + Contrast + Self-check)\n\nПричинность:\n- важные признаки = корреляция, НЕ причинность\n\nКонтраст:\n- объясни, чем лучшая модель лучше остальных\n\nСамопроверка:\nПеред ответом проверь:\n1. Я не придумал цифры?\n2. Я не заявил причинность?\n3. Я дал конкретные рекомендации?\n4. Я указал ограничения?\n\n## ИНФОРМАЦИЯ О МОДЕЛИ\n{{($input.all().find(item => item.json.output)?.json.output || \"Нет output\")}}\n\n## ИНФОРМАЦИЯ О ДАТАСЕТЕ\n{{ ($input.all().find(item => item.json.result)?.json.result?.text || \"Нет result.text\")}}\n\n# TELEGRAM ФОРМАТ\n\nРазрешены:\n<b>, <i>, <code>, <pre>\n\nЗапрещены:\n<ul>, <li>, <table>, <br>, <p>\n\nСписки:\n• пункт\n• пункт\n\n# СТРУКТУРА ОТВЕТА\n\n<b>Итоговый отчёт</b>\n\n<b>1. Лучшая модель</b>\n\n<b>2. Надежность модели</b>\n\n<b>4. Бизнес смысл</b>\n\n<b>4. Рекомендации</b>\n\n<b>5. Ограничения</b>\n\n# ПРАВИЛА\n- Пиши на русском\n- Не усложняй\n- Дай конкретные действия",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2160,
        112
      ],
      "id": "2ec530c0-5cc1-444d-8ba0-20b06236eb7e",
      "name": "Business Interpretation Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1936,
        96
      ],
      "id": "339cda1b-af48-45e5-a921-ea575dc313b2",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "495814912",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2496,
        112
      ],
      "id": "9adfaa73-0275-464a-b03a-c3ab716ef49e",
      "name": "Send a text message1",
      "webhookId": "afd0e684-5de4-4c75-a61e-906719cfde7c",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "lGOSakxYkVGyAX6R",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "frequencyPenalty": 0.2,
          "maxTokens": 3000,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        2160,
        336
      ],
      "id": "3ea68a49-aeac-4439-a29c-4427d50ea11f",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "SoXDcdd6R2e3ckpd",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "Phi-4",
        "options": {
          "frequencyPenalty": 0.2,
          "maxTokens": 3000,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1008,
        208
      ],
      "id": "6b4d5aab-05b1-409f-bc54-0f31b15763dd",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "uPrvwnAE6NYvIpqr",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=eda-agent-{{ $workflow.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        288
      ],
      "id": "90fb0557-bc29-4a23-b017-2508baa2e982",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=ml-agent-{{ $workflow.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1296,
        448
      ],
      "id": "7926e301-ce43-44e2-8fb7-5ed3943ce9b7",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set User Goal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set User Goal": {
      "main": [
        [
          {
            "node": "Data Preparation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: load_dataset": {
      "ai_tool": [
        [
          {
            "node": "Data Preparation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: execute_python": {
      "ai_tool": [
        [
          {
            "node": "Data Preparation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: column_types": {
      "ai_tool": [
        [
          {
            "node": "Data Preparation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: na_count": {
      "ai_tool": [
        [
          {
            "node": "Data Preparation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: outliers_analysis": {
      "ai_tool": [
        [
          {
            "node": "Data Preparation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: train_test_splitter": {
      "ai_tool": [
        [
          {
            "node": "Data Preparation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Data Preparation Agent": {
      "main": [
        [
          {
            "node": "Describe dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Small": {
      "ai_languageModel": [
        [
          {
            "node": "Data Preparation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Small2": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selection Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: gradient_busting": {
      "ai_tool": [
        [
          {
            "node": "Model Selection Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Linear regression": {
      "ai_tool": [
        [
          {
            "node": "Model Selection Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: random_forest": {
      "ai_tool": [
        [
          {
            "node": "Model Selection Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: knn": {
      "ai_tool": [
        [
          {
            "node": "Model Selection Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: logistic_regression": {
      "ai_tool": [
        [
          {
            "node": "Model Selection Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: save_best_model": {
      "ai_tool": [
        [
          {
            "node": "Model Selection Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describe dataset": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Model Selection Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Selection Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Business Interpretation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Interpretation Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Business Interpretation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Describe dataset",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Data Preparation Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Model Selection Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bfb942e0-8bb8-4bff-9520-f99a396b2a15",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f88e1bd7f84819a6815ccdffe75b9931d61d84560b2fbf5341ae1c6ebac613e"
  },
  "id": "uWuextusKGJ8vfJO",
  "tags": []
}